header h1 {
	background-color: teal;
	font-size: 20px;
	color: #fff;
	padding: 12px 24px;
	display: inline-block;
}

header nav {
	display: inline-block;
}

.content-wrap {
	width: 960px;
	margin: 0 auto;
	background-color: gray;
	border: 2px solid red;
	min-height: 100%;
	
}

html, body {
	height: 100%;	
}

main {
	padding-20px;
	padding-bottom: 90px;
}

footer {
	width: 960px;
	margin: 0 auto;	
	height: 90px;
	margin-top: -50px;
	background-color: lightgray;
}

