/*
//// base styles
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}


/*
//// text styles
*/

h1,
h2,
h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 39.056px;
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 2px;
}

h2 {
    font-size: 31.248px;
    color: #4aaaa5;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
}

h3 {
    font-size: 25.008px;
    color: #4aaaa5;
    text-align: center;
    margin-bottom: 15px;
}

small {
    font-size: 0.8em;
}


/* 
//////// content boxes
*/

.footerWrap {
    min-height: 100%;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

.centerWrap {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header .centerWrap {
    position: relative;
}

.nav_main {
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0;
}

.nav_main li {
    display: inline-block;
    margin-right: 40px;
}

.nav_main li:last-of-type {
    margin-right: 0;
}

main {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
   position: relative;
    padding-bottom: 50px;    
}

article {
    background-color: #ffffff;
    width: 67.70833%;
    max-width: 650px;
    padding: 20px;
    border-radius: 2px;
}

aside {
    background-color: #ffffff;
    width: 28.125%;
    max-width: 270px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
}

footer {
    height: 50px;
    margin-top: -50px;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}

footer p {
    position: relative;
    top: 15px;
    margin-bottom: 0;
}


/* 
//////// images
*/

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.portrait {
    width: 250px;
    margin: 0;
    padding: 0;
    float: left;
    padding: 0 20px 20px 0;
    border-radius: 2px;
}


/* 
//////// links
*/

.nav_link:link {
    color: gray;
    text-decoration: none;
    border-bottom: 1px dotted #ffffff;
    padding-bottom: 3px;
    -webkit-transition: border-color .3s, border-style .3s, color .3s;
    -o-transition: border-color .3s, border-style .3s, color .3s;
    transition: border-color .3s, border-style .3s, color .3s;
}

.nav_link:visited {
    color: gray;
    border-bottom: 1px dotted #ffffff;
}

.nav_link:hover {
    border-bottom: 1px dotted #777777;
}

.nav_link:focus {
    outline: 1px dotted #4aaaa5;
    outline-offset: 5px;
}

.nav_link:active {
    outline: none;
    color: #666666;
    border-bottom: 1px solid #666666;
}

.nav_social li {
    display: inline-block;
    width: 33%;
    padding: 10px;
}

.social_link:link {
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.social_link:hover {
    top: -1px;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.social_link:active {
    top: -1px;
    background-color: #8d8d8d;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}


/* 
//////// gallery
*/

.gallery {
    width: 100%;
}

.gallery:after {
    content: "";
    display: table;
    clear: both;
}

.gallery li {
    width: 50%;
    padding: 15px;
    float: left;
}

.gallery_link {
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.gallery_link figcaption {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    background-color: rgba(74, 170, 165, 0.85);
}

.gallery_link figcaption h3 {
    font-size: .95em;
    line-height: 2.5;
    color: #ffffff;
    margin-bottom: 0;
}

.gallery_link:hover {
    top: -1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


/* 
//////// forms
*/

label {
    display: block;
    color: #777777;
    line-height: 1.5;
}

input {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 2px;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    color: #cccccc;
}

input[name=message] {
    min-height: 200px;
}

input[type=submit] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 75px;
    padding: 0 15px;
    font-size: 1em;
    line-height: 2.5;
    color: #ffffff;
    background-color: #4aaaa5;
    border: 1px solid #4aaaa5;
    border-radius: 2px;
    transition: .3s;
}

input[type=submit]:hover {
    background-color: #347774;
    cursor: pointer;
}

input[type=submit]:focus {
    outline: 1px dotted #4aaaa5;
    outline-offset: 5px;
}

input[type=submit]:active {
    outline: none;
    color: #347774;
    background-color: #ffffff;
    border-color: #347774;
}


/* 
//////// screensize adustments
*/

@media screen and (max-width: 960px) {
    .nav_main {
        right: 20px;
    }
}

@media screen and (max-width: 700px) {
    .nav_main {
        position: static;
        display: block;
    }
    .nav_main li {
        width: 32%;
        margin-right: 0;
        text-align: center;
        line-height: 2.75;
    }
    article {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    aside {
        position: static;
        width: 65%;
        max-width: none;
        margin: 20px auto;
    }
    h1 {
        width: 100%;
        text-align: center;
        padding: 0;
        font-size: 33.184px;
        line-height: 1.75;
    }
    h2 {
        font-size: 27.648px;
    }
    h3 {
        font-size: 23.04px;
    }

}

@media screen and (max-width: 480px) {
    .portrait {
        margin: 10px auto;
        float: none;
    }    
    .gallery li {
        width: 95%;
        float: none;
        margin: 10px auto;
    }
}
